/* Variables */

:root {
    --clr-primary-400: hsl(185, 75%, 39%);
    --clr-primary-600: hsl(229, 23%, 23%);
    --clr-primary-500: hsl(227, 10%, 46%);

    --clr-neutral-300: hsl(0, 0%, 59%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --clr-neutral-hsla-300: hsla(0, 0%, 59%, 0.2);
    --clr-primary-hsla-600: hsla(229, 23%, 23%, 0.3);

    --ff-base: "Kumbh Sans";

    --fw-neutral: 400;
    --fw-bold: 700;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
 
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* Code */

  h1, h2 {
    color: var(--clr-primary-600);
  }

  p {
    color: var(--clr-primary-500);
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: left -285px top -413px, right -230px bottom -535px;
    background-color: var(--clr-primary-400);
    font-family: var(--ff-base);    
  }

  .main-content-container {
    background-color: var(--clr-neutral-100);
    border-radius: 15px;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0px 50px 80px var(--clr-primary-hsla-600);
  }

.main-content-container__images {
    margin-bottom: 4.5rem;
  }

  .profile-picture {
    position: absolute;
    border-radius: 50%;
    border: 5px solid var(--clr-neutral-100);
    translate: 115% -50%;
  }

  .main-content-container__profile-name {
    text-align: center;
  }

  .main-content-container__profile-name h1 {
    font-size: 18px;
    font-weight: var(--fw-bold);
  }

  .main-content-container__profile-name span {
    color: var(--clr-neutral-300);
    font-weight: var(--fw-neutral);
    margin-left: 5px;
  } 

  .main-content-container__profile-name p {
    margin-top: 0.5rem;
    font-size: 14px;
  }

  .main-content-container__social-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1.4rem;
    gap: 1.25rem;
  }

  .hr {
    margin: 1.5rem 0;
    background-color:  var(--clr-neutral-hsla-300);
    height: 1px;
    border: 0;
  }

  .main-content-container__social-info h2 {
    font-size: 18px;
    letter-spacing: 0.2px;
  }

  .main-content-container__social-info p {
    margin-top: 5px;
    font-size: 10.5px;
    letter-spacing: 1.15px;
  }

  .social-info-container {
    width: 80px;
  }

  @media (max-width: 1150px){
    body {
    background-position: left -604px top -413px, right -574px bottom -535px;
    }
  }

  @media (max-width: 500px){
    body {
    background-position: left -703px top -630px, right -662px bottom -655px;
    }

  }